/*
    Reset
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }


*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }

/*
  This is a stripped down version of Mapbox base.css
  https://www.mapbox.com/base/latest/base.css
------------------------------------------------------- */


/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  /*font: 18px 'Open Sans', sans-serif;*/
  font-family: "Palatino", "Georgia";
  font-size: 17px;
  -webkit-font-smoothing:antialiased;
  }

body { background:#fff; }
.dark { color:#fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family:'Open Sans', sans-serif;*/
  font-weight:600;
  margin:0;
  padding-top: 20px;
  }



h1 {
  font-size:27px;
  line-height:30px;
  /*padding-top: 5px;*/
  padding-bottom:10px;
  }

h2 {
  font-size:17px;
  line-height:20px;
  padding-bottom:10px;
  }

h3 {
  font-size:16px;
  line-height:20px;
  padding-bottom:10px;
  }

h4, h5 {
  font-size:12px;
  line-height:20px;
  padding-bottom:10px;
  }

p { margin-bottom:20px; }

p:last-child { margin-bottom:0; }

small,
.prose.small,
.small {
  font-size:16px;
  line-height:20px;
  letter-spacing:0;
  }

small { display:block; }

/* Links */
a,
a code {
  color:#3887BE;
  text-decoration:none;
  }
  a:hover code,
  a:hover { color:#63b6e5; }
  a:focus {
    -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);
            box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);
  }

.dark a,
.dark a code  { color:#63b6e5; }
.dark a:hover code,
.dark a:hover { color:#8fcaec; }
.dark a:focus {
  -webkit-box-shadow:inset 0 0 0 1px rgba(256,256,256,0.05);
          box-shadow:inset 0 0 0 1px rgba(256,256,256,0.05);
  }

a.quiet       { color:rgba(0,0,0,0.5);  }
a.quiet.active, a.quiet:hover { color:rgba(0,0,0,0.75); }

.dark a.quiet,
a.quiet.dark { color:rgba(255,255,255,0.5); }

.dark a.quiet:hover,
a.quiet.dark.active, a.quiet.dark:hover { color:rgba(255,255,255,0.75); }


code {
  font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  background: #f1f1f1;
  padding: 0 4px;
  font-size: 14px;
}




/* Article Layout
------------------------------------------------------- */

.article {
  line-height: 30px;
}

.content-node .content {
  position: relative;
}

.content-node .content {
  padding: 0px 20px;
}


/* Cover
------------------------------------------------------- */

.content-node.cover .cover-image {
  max-height: 400px;
  overflow: hidden;
}

.content-node.cover .cover-image img {
  width: 100%;
}

.content-node.cover .content {
  max-width: 800px;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
}

.content-node.cover .content h1 {
  font-size: 40px;
  line-height: 50px;
}

.content-node.cover .content .article-meta {
  font-family: 'Open Sans';
  overflow: auto;
  font-size: 16px;
}

.content-node.cover .content .article-meta .authors {
  padding-right: 20px;
  float: left;
}

.content-node.cover .content .article-meta .published-on {
  float: left;
  color: #888;
}

.content-node.cover .content .article-abstract {
  padding-top: 40px;
  font-size: 20px;
}

/* Table of Contents */

.content-node.cover .toc {
  border-top: 1px solid #eee;
  margin-top: 50px;
  padding-top: 20px;
}

.content-node.cover .toc .toc-title {
  display: none;
  font-weight: 600;
  padding-bottom: 20px;
}

.content-node.cover .toc .toc-entry {
  font-size: 15px;
}

.toc .toc-entry.level-2 {
  padding-left: 20px;
}

.toc .toc-entry.level-3 {
  padding-left: 40px;
}

.toc .toc-entry.level-4 {
  padding-left: 60px;
}


/* Text (Paragraph)
------------------------------------------------------- */

.content-node.text .content {
  max-width: 800px;
  margin: 0px auto;
  margin-bottom: 30px;
}

/* Audio
------------------------------------------------------- */

.content-node.audio .content {
  max-width: 350px;
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 20px;
  color: rgba(255,255,255, 0.9);
  background: #424242;
}

.content-node.audio .audio-wrapper audio {
  max-width: 100%;
}


/* Codeblock
------------------------------------------------------- */

.content-node.code-block {
  padding-bottom: 50px;
}

.content-node.code-block .content {
  overflow: auto;
  font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  max-width: 800px;
  font-size: 13px;
  line-height: 18px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border-top: 1px solid #ccc;*/
  background: #f1f1f1;
}


/* Listitem
------------------------------------------------------- */


.content-node.list-item {
  max-width: 800px;
  margin: 0px auto;
}

.content-node.list-item .content {

}

.content-node.list-item .content:before {
  content: '· ';
}

.content-node.list-item .content {

}

.content-node.list-item.level-1 .content {
  /*margin-left: 20px;*/
}

.content-node.list-item.level-2 .content {
  margin-left: 20px;
}

.content-node.list-item.level-3 .content {
  margin-left: 40px;
}

.content-node.list-item.level-4 .content {
  margin-left: 60px;
}




/* Heading
------------------------------------------------------- */

.content-node.heading .content {
  max-width: 800px;
  margin: 0px auto;
}


/* Heading anchor */
.content-node.heading:hover .content .anchor {
  display: block;
}

.content-node.heading:hover .content .anchor:hover {
  color: #555;
}

.content-node.heading .content .anchor {
  display: none;
  position: absolute;
  left: 0px;
  width: 20px;
  top: 19px;
  font-family: 'Open Sans';
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
}

.content-node.heading.level-2 .content .anchor {
  top: 13px;
}

.content-node.heading.level-3 .content .anchor {
  top: 13px;
}

.content-node.heading.level-4 .content .anchor {
  top: 11px;
}

.content-node.heading.level-4 .content .anchor {
  top: 9px;
}


/* References (optional)
------------------------------------------------------- */

.content-node.references .content {
  max-width: 800px;
  margin: 0px auto;
  padding-top: 40px;
  margin-bottom: 60px;
}

.content-node.references .content .label {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 15px;
}


/* Publication Info
------------------------------------------------------- */


.content-node.publication-info {
  font-family: 'Open Sans';
  background: #f9f9f9;
  margin-top: 50px;
  color: #666;
  /*border-top: 1px solid #ddd;*/
  padding-top: 60px;
  /*padding-bottom: 60px;*/
}

.content-node.publication-info .content {
  max-width: 800px;
  margin: 0px auto;
}

/* Publication info card */
.content-node.publication-info .label {
  padding-top: 30px;
  font-size: 12px;
  color: #999;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 600;
}

.content-node.publication-info .citations {
  padding-top: 20px;
}

.content-node.publication-info .citations .citation-url {
  /*font-size: 14px;*/
  /*padding-top: 20px;*/
}

.content-node.publication-info .citations .citation-description {
  /*color: #777;*/
  font-size: 14px;
  padding-bottom: 20px;
}


.content-node.publication-info .authors .author {
  padding-bottom: 30px;
  overflow: auto;
}

.content-node.publication-info .authors .author-name {
  font-weight: 600;
  padding-bottom: 10px;
}

.content-node.publication-info .authors .author-description {
  font-size: 15px;
  line-height: 22px;
}

.content-node.publication-info .authors .author-image {
  max-width: 100px;
  float: left;
  padding-right: 20px;
}


.content-node.publication-info .supplements {
  font-size: 15px;
}

.content-node.publication-info .supplements .file-name {
  font-size: 24px;
}

.content-node.publication-info .copyright {
  padding-top: 40px;
  font-size: 14px;
  padding-bottom: 40px;
}

.content-node.publication-info .copyright .license {
  padding-top: 20px;
}

.content-node.publication-info .generator {
  background: #262626;
  color: rgba(255,255,255,0.6);
  padding: 10px 0px;
  font-size: 15px;
  margin-top: 30px;
}

.content-node.publication-info .generator a {
  color: white;
}



/* Figure
------------------------------------------------------- */


.content-node.figure {
  /*text-align: center;*/
  padding-top: 20px;
  padding-bottom: 50px;
}

.content-node.figure .content {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}

.content-node.figure .content a {
  text-align: center;
}

.content-node.figure .caption {
  font-size: 16px;
  text-align: left;
  color: #777;
  margin: 0 auto;
}

.content-node.figure img {
  max-width: 100%;
}


/* WebPage
------------------------------------------------------- */

.content-node.web-page {
  text-align: center;
  padding-bottom: 20px;
  padding-bottom: 50px;
}

.content-node.web-page > .content {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}

.content-node.web-page .caption {
  font-size: 14px;
  text-align: left;
  color: #777;
}

.content-node.web-page .page-wrapper {
  margin: auto;
  background: #ccc;
}

.content-node.web-page .page-wrapper iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* Video
------------------------------------------------------- */

.content-node.video {
  padding-top: 20px;
  padding-bottom: 50px;
}

.content-node.video .content {
  text-align: center;
  margin: 0px auto;
  max-width: 800px;
}

.content-node.video .video-wrapper video {
  width: 100%;
}

.content-node.video .caption {
  font-size: 14px;
  text-align: left;
  color: #777;
}


/* Counter Business
------------------------------------------------------- */


body {
  counter-reset: toc-chapter 0;
  counter-reset: toc-section 0;
  counter-reset: toc-subsection 0;
  counter-reset: toc-subsubsection 0;

  counter-reset: heading-1 0;
  counter-reset: heading-2 0;
  counter-reset: heading-3 0;
  counter-reset: heading-4 0;
}

.article.section-numbering .content-node.cover .toc .toc-entry.level-1 {
  counter-increment: toc-chapter;
  counter-reset: toc-section 0 !important;
}

.article.section-numbering .content-node.cover .toc .toc-entry.level-1 a:before  { content: counter(toc-chapter) ". "; }

.article.section-numbering .content-node.cover .toc .toc-entry.level-2 {
  counter-increment: toc-section;
  counter-reset: toc-subsection 0 !important;
}

.article.section-numbering .content-node.cover .toc .toc-entry.level-2 a:before  { content: counter(toc-chapter) "." counter(toc-section) ". "; }

.article.section-numbering .content-node.cover .toc .toc-entry.level-3 {
  padding-left: 40px;
  counter-increment: toc-subsection;
  counter-reset: toc-subsubsection 0 !important;
}
.article.section-numbering .content-node.cover .toc .toc-entry.level-3 a:before  { content: counter(toc-chapter) "." counter(toc-section) "." counter(toc-subsection) ". "; }

.article.section-numbering .content-node.cover .toc .toc-entry.level-4 {
  padding-left: 60px;
  counter-increment: toc-subsubsection;
}

.article.section-numbering .content-node.cover .toc .toc-entry.level-4 a:before  { content: counter(toc-chapter) "." counter(toc-section) "." counter(toc-subsection) "." counter(toc-subsubsection) ". "; }


/* Headings */

.article.section-numbering .heading.level-1 {
  counter-increment: heading-1;
  counter-reset: heading-2 0 !important;
}

.article.section-numbering .heading.level-1 h1:before { content: counter(heading-1) ". "; }

.article.section-numbering .heading.level-2 {
  counter-increment: heading-2;
  counter-reset: heading-3 0 !important;
}

.article.section-numbering .heading.level-2 h2:before { content: counter(heading-1) "." counter(heading-2) ". "; }

.article.section-numbering .heading.level-3 {
  counter-increment: heading-3;
  counter-reset: heading-4 0 !important;
}

.article.section-numbering .heading.level-3 h3:before { content: counter(heading-1) "." counter(heading-2) "." counter(heading-3) ". "; }

.article.section-numbering .heading.level-4 {
  counter-increment: heading-4;
}
.article.section-numbering .heading.level-4 h4:before { content: counter(heading-1) "." counter(heading-2) "." counter(heading-3) "." counter(heading-4) ". "; }
